<div id="page-wrapper" >
 <div class="container ">
  <div class="row">
    <div class="col-md-12 admin_first">
      <form method="POST" action="/admin/crProduct" enctype="multipart/form-data">
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="name">Name:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="Name Product" name="txt_name">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="title">Title:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="Title Product" name="txt_title">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="type">Type:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="Type Product" name="txt_type">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="source">Source:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="Source Product" name="txt_source">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="description">Description:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="Description" name="txt_des">
          </div>
        </div>
         <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="Images">Images:</label>
          <div class="col-sm-5">
            <input type="file" placeholder="Images" name="txt_images"multiple>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="content">Content:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="Content" name="txt_content">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="price">Price:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="price" name="txt_price">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="Unit">Unit:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="Unit" name="txt_unit">
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="control-label col-sm-2" for="discount">Discount:</label>
          <div class="col-sm-5">
            <input class="form-control" placeholder="Discount" name="txt_discount">
          </div>
        </div>
        <div class="form-group col-md-12">        
          <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>