<!DOCTYPE html>
<html>
<head>
	<title>Nhi Cosmetics</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/fontawesome.min.css">
</head>
<body>
  <%- body %>
</body>
<script type="text/javascript" src="js/meojs.js"></script>
<script type="text/javascript" src="js/fontawesome-all.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>	
</html>